<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Organizations
            </h3>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Listing
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Section-->
                    <div class="m-section">
                        <div class="m-section__content">
                            <table class="table table-bordered table-responsive">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Table heading
                                        </th>
                                        <th>
                                            Table heading
                                        </th>
                                        <th>
                                            Table heading
                                        </th>
                                        <th>
                                            Table heading
                                        </th>
                                        <th>
                                            Table heading
                                        </th>
                                        <th>
                                            Table heading
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            1
                                        </th>
                                        <td>
                                            Table cell
                                        </td>
                                        <td>
                                            Table cell
                                        </td>
                                        <td>
                                            Table cell
                                        </td>
                                        <td>
                                            Table cell
                                        </td>
                                        <td>
                                            Table cell
                                        </td>
                                        <td>
                                            Table cell
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            2
                                        </th>
                                        <td>
                                            Table cell
                                        </td>
                                        <td>
                                            Table cell
                                        </td>
                                        <td>
                                            Table cell
                                        </td>
                                        <td>
                                            Table cell
                                        </td>
                                        <td>
                                            Table cell
                                        </td>
                                        <td>
                                            Table cell
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            3
                                        </th>
                                        <td>
                                            Table cell
                                        </td>
                                        <td>
                                            Table cell
                                        </td>
                                        <td>
                                            Table cell
                                        </td>
                                        <td>
                                            Table cell
                                        </td>
                                        <td>
                                            Table cell
                                        </td>
                                        <td>
                                            Table cell
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>